In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
data = pd.read_csv('movies_metadata.csv')
data.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [37]:
m = data['vote_count'].quantile(0.9)
data = data.loc[data['vote_count'] >= m]

In [38]:
C = data['vote_average'].mean()

In [39]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    
    return ( v / (v+m) * R ) + (m / (m + v) * C)

In [40]:
data['score'] = data.apply(weighted_rating, axis = 1)

In [41]:
data['genres'] = data['genres'].apply(literal_eval)

In [42]:
data.head(2)

   adult  ...     score
0  False  ...  7.664803
1  False  ...  6.873484

[2 rows x 25 columns]

In [43]:
data['genres'] = data['genres'].apply(lambda x : [d['name'] for d in x]).apply(lambda x : " ".join(x))

In [44]:
data.head(2)

   adult  ...     score
0  False  ...  7.664803
1  False  ...  6.873484

[2 rows x 25 columns]

In [45]:
data = data.loc[data.status == 'Released']

In [46]:
data.shape

(4553, 25)

In [47]:
data.id.value_counts(ascending= False)[:5]

5511      2
265189    2
152795    2
4912      2
824       1
Name: id, dtype: int64

In [48]:
data.loc[data.id == '265189']

       adult belongs_to_collection budget  ... vote_average vote_count     score
24164  False                   NaN      0  ...          6.8      255.0  6.674155
45265  False                   NaN      0  ...          6.8      255.0  6.674155

[2 rows x 25 columns]

In [53]:
data.loc[data.id == '4912']

       adult belongs_to_collection  ... vote_count     score
5865   False                   NaN  ...      281.0  6.554137
33826  False                   NaN  ...      281.0  6.554137

[2 rows x 25 columns]

In [49]:
data = data.drop_duplicates()

In [50]:
data.id.nunique()

4549

In [51]:
data.shape

(4551, 25)

In [52]:
data.id.value_counts(ascending= False)[:5]

265189    2
4912      2
198185    1
74018     1
3558      1
Name: id, dtype: int64

In [78]:
data = data.loc[list(data.id.drop_duplicates().index.values)]

In [79]:
data.head(2)

   adult  ...     score
0  False  ...  7.664803
1  False  ...  6.873484

[2 rows x 25 columns]

In [82]:
data = data[['id', 'title', 'genres', 'release_date', 'runtime', 'score']]

In [87]:
data.to_csv('movie.csv', index = False)